# eclipse project files
.project
.classpath
.settings
# idea
*.iml
.idea
# mvn target:
target

# pig artifacts
pig*.log
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.bbl
# release info
release.properties
